
{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- start hero section -->
        <section class="p-0 parallax" data-parallax-background-ratio="0.3" style="background-image: url('{% static 'all_images/back-diagnosis.png' %}');">
            <div class="container-fluid position-relative wow animate__fadeIn " data-wow-delay="0.2s">
                <div class="row small-screen md-h-300px sm-h-300px">
                    <div class="col-12 col-xl-5 offset-lg-1 col-lg-6 col-md-8 col-sm-10 d-flex flex-column justify-content-center md-padding-35px-left xs-padding-15px-left">
                         <h2 class="text-white alt-font font-weight-500 letter-spacing-minus-1px line-height-50 sm-line-height-45 xs-line-height-30 no-margin-bottom"><span class="font-weight-600">Treatments or Diagnosis We Treat</span></h2>
                        <h6 style="color:#22CEC8;  " class="alt-font  margin-15px-bottom d-inline-block">and hospital speciality</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- end hero section -->


      






 <section class="bg-white half-section">
            <div class="container">
               <div>
                    <h5 class="alt-font cd-headline slide font-weight-500 text-extra-dark-gray line-height-40px margin-75px-bottom wow animate__fadeIn " data-wow-delay="0.2s">
                            <span class="d-initial p-0">Center of Execelllence</span>
                        </h5>
                </div>
                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center margin-three-bottom">
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">01</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="{% url 'diagnosisInfo' %}" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover  feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">02</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover  feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">03</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->

                


                </div>        
                



                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center margin-three-bottom">
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover  feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">04</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">05</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">06</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->

                    
                </div> 



                
            </div>
        </section>




       <section id="all" class="bg-white half-section ">
            <div class="container">
               <div>
                    <h5 class="alt-font cd-headline slide font-weight-500 text-extra-dark-gray line-height-40px margin-75px-bottom">
                            <span class="d-initial p-0">Other Speciality</span>
                        </h5>
                </div>

<!-- First row -->

                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center margin-three-bottom">
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">01</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">02</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">03</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->

                </div>        
                

<!-- second row -->

                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center margin-three-bottom">
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">04</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">05</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right  lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">06</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div> 
                                </div>
                                
                                <div class="move-bottom-top margin-5px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div> 

<!-- third row -->

                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center margin-three-bottom">
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">07</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">08</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">09</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                  </div> 



<!-- Forth row -->

                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center margin-three-bottom">
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">10</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">11</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">12</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div>  


<!-- Fifth row -->

                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center margin-three-bottom">
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">13</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">14</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover border-all border-color-medium-gray overflow-hidden last-paragraph-no-margin">
                            <div class="align-items-center feature-box-move-bottom-top padding-2-rem-all ">
                                <div class="feature-box-content last-paragraph-no-margin">
                                    <div class=" feature-box feature-box-left-icon-middle last-paragraph-no-margin  align-items-center xs-padding-1-rem-all">
                                        <div class="feature-box-icon margin-20px-right lg-margin-25px-right ">
                                            <h4 style="color: #00b8e6;" class=" alt-font font-weight-600  mb-0">15</h4>
                                        </div>
                                        <div  class="border-left border-width-3px ">
                                            <span class="text-extra-dark-gray font-weight-500  "><h6 class="margin-1-rem-tb margin-20px-left">Diagnosis name</h6></span>    
                                        </div>                                   
                                    </div>
                                
                                </div>
                                <div class="move-bottom-top margin-15px-top">
                                    <a href="what-we-offers.html" style="color:#ace600;" class="btn btn-link thin btn-large ">Read more</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div>        
            </div>
        </section>

{% endblock %}
   

