{% load static %}
<!-- start section -->
   <footer style="background-color: #3d3b3c;" class="footer-dark">
            <div class="container">

            <div class="footer-top  padding-two-tb md-padding-10px-tb ">
            
                    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2  ">


                  <!-- start feature box item -->
                    <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom ">
                        <div class="feature-box   overflow-hidden ">
                         <span class="alt-font font-weight-500 d-block text-white margin-20px-bottom xs-margin-10px-bottom">
                                <img style="" src="{% static 'all_images/logo-3.png' %}" class="default-logo" width="200px"  alt="">
                            </span>
                              <p class="w-85 margin-15px-bottom">27 Eden walk eden centre, Orchard view, Paris, France</p>
                            
                        </div>
                    </div>

                    <div  class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom  ">
                        <div class="feature-box   overflow-hidden ">
                            <span class="alt-font font-weight-500 d-block text-white margin-20px-bottom xs-margin-10px-bottom">Get in touch</span>
                            <div><i  class="feather icon-feather-phone-call icon-very-small margin-10px-right text-white"></i><a href="tel:2345678910">+91 234 567 8910</a></div>
                            <div><i class="feather icon-feather-mail icon-very-small margin-10px-right text-white"></i><a href="mailto:ahiresuraj66@gmail.com">ahiresuraj66@gmail.com</a></div>
                            
                        </div>
                    </div>

                    <div  class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom ">
                        <div class="feature-box   overflow-hidden ">
                            <span class="alt-font font-weight-500 d-block text-white margin-20px-bottom">Opening hours</span>
                            <div>Monday - Friday 06:00 AM - 10:00 PM</div>
                            <div>Saturday 09:00 AM - 08:00 PM</div>
                            <div>Sunday Closed</div>
                            
                        </div>
                    </div>

                </div>        
                </div>
                
            </div>
            <div class="footer-bottom padding-20px-tb border-top border-color-white-transparent">
                <div class="container padding-0px-lr margin-0px-lr "> 
                        <div class=" text-center last-paragraph-no-margin sm-margin-20px-bottom">
                            <p>Copyrights &copy; 2021 | All Rights Reserved</p>
                    </div>
                </div>
                </div>
         
        </footer>
    <!-- end section -->
    <!-- end footer -->
    <!-- start scroll to top -->
    <a class="scroll-top-arrow" href="javascript:void(0);"
      ><i class="feather icon-feather-arrow-up"></i
    ></a>
    <!-- end scroll to top -->
    <!-- javascript -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/theme-vendors.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <!-- revolution js files -->
    <script
      type="text/javascript"
      src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"
    ></script>

    <!-- slider revolution 5.0 extensions (load extensions only on local file systems ! the following part can be removed on server for on demand loading) -->
    <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
  </body>
</html>
